{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block body_id %}company{% endblock %}

{% block content %}
<h2>История компании</h2>
<div class="row">
    <div class="col-md-8">
        <p class="text-black">Наш диагностический центр был основан в 2005 году с целью предоставления высококачественных медицинских услуг населению.
            С тех пор мы прошли долгий путь, став одним из ведущих медицинских учреждений в регионе.</p>

        <h5>Начало пути</h5>
        <p class="text-black">В начале нашего пути мы начали с небольшой команды врачей и небольшого оборудования.
            Наша миссия была ясна: обеспечить доступ к современным диагностическим услугам для всех, кто в них нуждается.
            Мы стремились создать центр, где пациенты могли бы получить точную и своевременную диагностику, что является ключевым фактором для успешного лечения.</p>

        <h5>Развитие и рост</h5>
        <p class="text-black">С годами наш центр рос и развивался. Мы инвестировали в новейшее оборудование и привлекали лучших специалистов в области медицины.
            Сегодня у нас работают опытные врачи-диагносты, которые ежедневно помогают пациентам выявлять заболевания на ранних стадиях и принимать меры для их лечения.</p>

        <h5>Современные технологии</h5>
        <p class="text-black">Мы постоянно следим за новыми технологиями и внедряем их в нашу работу.
            Наш центр оснащен современным оборудованием, которое позволяет проводить широкий спектр исследований, включая лабораторные анализы, инструментальную диагностику и специализированные консультации.
            Мы стремимся к тому, чтобы каждый пациент получал максимально точную и полную информацию о своем здоровье.</p>

        <h5>Команда профессионалов</h5>
        <p class="text-black">Наш коллектив объединяет опытных врачей-диагностов, исследователей и консультантов, которые ежедневно трудятся над улучшением качества предоставляемых услуг.
            Мы ценим доверие наших пациентов и работаем для того, чтобы каждое посещение клиники было комфортным и эффективным.</p>

        <h5>Социальная ответственность</h5>
        <p class="text-black">Мы активно участвуем в социальных проектах и программах, направленных на повышение уровня медицинской грамотности населения.
            Мы проводим бесплатные лекции и семинары, а также участвуем в благотворительных акциях, чтобы помочь тем, кто нуждается в медицинской помощи.</p>

        <h5>Будущее</h5>
        <p class="text-black">Мы продолжаем развиваться и расширять спектр наших услуг.
            Наша цель — стать лидером в области диагностики и лечения заболеваний, обеспечивая доступ к качественным медицинским услугам для всех слоев населения.</p>

        <h4>Мы гордимся тем, что за годы работы смогли помочь тысячам пациентов сохранить и улучшить свое здоровье. Мы продолжаем стремиться к совершенству и готовы к новым вызовам, чтобы всегда быть на шаг впереди в области медицины.</h4>
    </div>
    <div class="col-md-4">
        <img src="/media/img_4.png" alt="фото" class="img-fluid my-6" style="width: 90%; height: auto;">
    </div>
</div>

<h2>Миссия и ценности</h2>
<div class="col-md-8">
    <h5>Миссия:</h5>
        <p class="text-black">Миссия нашего диагностического центра заключается в обеспечении высококачественных и доступных диагностических услуг, которые помогают пациентам своевременно выявлять заболевания и принимать меры для их лечения.
            Мы стремимся стать надежным партнером в заботе о здоровье каждого пациента, предоставляя точные и современные методы диагностики, а также создавая комфортные условия для всех, кто обращается к нам за помощью.</p>
    <h5>Ценности:</h5>
        <p class="text-black"><strong>1. Качество:</strong> Мы привержены предоставлению услуг высочайшего качества, используя новейшие технологии и оборудование, а также привлекая лучших специалистов в области медицины.</p>
        <p class="text-black"><strong>2. Доверие:</strong>Мы строим наши отношения с пациентами на основе доверия и открытости. Мы всегда готовы ответить на все вопросы и предоставить полную информацию о состоянии здоровья и доступных методах лечения.</p>
        <p class="text-black"><strong>3. Инновации:</strong> Мы постоянно следим за новыми достижениями в области медицины и внедряем их в нашу работу, чтобы наши пациенты получали самые современные и эффективные методы диагностики.</p>
        <p class="text-black"><strong>4. Комфорт:</strong> Мы стремимся создать комфортные условия для всех пациентов, чтобы каждое посещение клиники было приятным и эффективным.</p>
        <p class="text-black"><strong>5. Ответственность:</strong> Мы несем ответственность за здоровье наших пациентов и работаем над тем, чтобы каждый пациент получил наилучший возможный уход.</p>
        <p class="text-black"><strong>6. Доступность:</strong> Мы стремимся сделать наши услуги доступными для всех слоев населения, независимо от их финансового положения.</p>
<img src="/media/img_3.png" alt="фото" class="img-fluid my-6" style="width: 50%; height: auto;">

    <div class="col-sm-8 col-md-7 py-4">
        <div class="row">
            <h3> Команда врачей: </h3>
                <table>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'doctors:doctor_detail' doctor.id %}">{{ doctor.last_name }} {{ doctor.first_name }}</td>
                    <td>{{ doctor.specialization }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Нет доступных услуг.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}