{% extends 'base.html' %}

{% block content %}
<h1>Добавление слота</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Добавить слот</button>
</form>

<p><a href="{% url 'client:all_slots' %}">Назад к списку слотов</a></p>
{% endblock %}